<!DOCTYPE html>

<html>

<head>
    <link  rel="styleSheet" href="./css/style.css">
{{!-- <link rel="shortcut icon" type="image/x-icon" href="./image/weathercock.png"> --}}
<link rel="icon" href="/image/weathercock.png">
</head>


<body>
<h1>{{>header}}</h1>
<img class="portrait" src = "./image/image0001.jpg">
{{!-- <img class="icon" src="./image/weathercock.png"> --}}
<p>{{>footer}}</p>

</body>



</html>